.options
{
list-style:none;	
margin:2%;
padding:0;	
}	

.options li
{
	padding:10px;
	background:rgb(95,125,241);
	margin:30px 20px;
	border:2px solid black;
	border-radius:20px;
}

.options li:hover
{
	cursor:pointer;
	background:rgb(51,58,226);
}

.options .crt,.options .crt:hover
{
	background:green;
	font-weight:bolder;
	border:3px solid green;
}

.options .incrt,.options .incrt:hover
{
	background:red;
	font-weight:bold;
	border:3px solid red;


}